.github {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.github-box {
  width: 400px;
  height: 350px;
  margin: 0 auto;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.41);
  transition: transform 1s;
  border-radius: 20px;
}

.github-box:hover {
  transform: scale(0.9);
}

.github-animation {
  max-width: 150px;
  max-height: 150px;
  margin: 40px 0;
}

.dashboard {
  color: #fff;
}

.dashboard__name {
  font-size: 30px;
}

.dashboard__profile-pic {
  width: 100px;
  border-radius: 50%;
  display: inline;
  margin-right: 20px;
  border: 3px solid #18D399;
  box-shadow: 0px 0px 10px #18D399;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dashboard__search-box {
  max-width: 250px;
  justify-self: flex-end;
  margin-right: 10px;
}

.dashboard__filter__btn {
  background-color: #18D399 !important;
  transition: all 0.3s ease-in !important;
}

.dashboard__filter__btn:hover {
  transform: scale(0.96);
  opacity: 0.8;
}
